.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container div{
    height: 100px;
    width: 100px;
    background: #F01159;
    text-align: center;
    padding: 30px;
    margin-right: 10px;
    font-size: 26px;
    color: white;
}

.flex-container div:nth-child(1){
    order: 3
}
.flex-container div:nth-child(2){
    order: 1
}

.flex-container div:nth-child(3){
    order: 4
}

.flex-container div:nth-child(4){
    order: 2
}
