.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container div{
    height: 400px;
    width: 100px;
    background-color: #faf1d1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.flex-container div:nth-child(1){
    align-self: flex-end;
}
.flex-container div:nth-child(3){
    height: 250px;
    background-color: #076545;
    align-self: center;
}

.flex-container div:nth-child(5){
    height: 100px;
    background-color: #B11E31;
    align-self: flex-end;
}

.flex-container div:last-child{
    height: 600px;
    background-color: #5ba214;
}
