.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container div{
    width: 150px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f17044;
    padding: 20px;
}

.flex-container div:nth-child(3){
    flex-grow: 2;
}


.flex-container div:nth-child(7){
    flex-grow: 10;
}
