.flex-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.flex-container div{
    width: calc((100%) / 10);
    height: auto;
    background: coral;
    padding: 30px;
    box-sizing: border-box;
    font-size: 28px;
    margin-right: 10px;
}

.flex-container div:nth-child(odd){
    font-size: 12px;
}

.flex-container div:nth-child(5){
    font-size: 8px;
}

.flex-container div:nth-child(3){
    font-size: 22px;
}

.flex-container div:nth-child(8){
    font-size: 42px;
}
